.content-admin-deco{
    display: flex;
}

.left-content-admin{
    
}


.right-content-admin{
	width: 100%;
	overflow-y: auto;
}

.header-admin{

}

.menu-admin{

}

.body-admin{

}

.footer-admin{

}